body {
  margin-top: 30px;
  text-align: center;
}

.quiz-body {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 30px;
  background: linear-gradient(to right, #3a1051, #05486f);
}

.quiz-question {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid purple;
  box-shadow: 0 0 10px rgba(211, 147, 227, 0.74),
    0 0 20px 5px rgba(200, 190, 239, 0.59),
    0 0 30px 15px rgba(233, 209, 226, 0.19);
}

.quiz-answer {
  background: transparent;
  color: white;
  border: 1px solid white;
  box-shadow: 0 0 0 5px rgba(139, 0, 255, 0.3);
  transition: all 200ms ease-in-out;
}

.quiz-answer:hover {
  background: white;
  color: black;
  border: 1px solid purple;
  font-size: 20px;
  box-shadow: 0 0 5px rgba(147, 160, 227, 0.74),
    0 0 10px 3px rgba(190, 227, 239, 0.59), 0 0 10px 5px rgba(85, 71, 89, 0.19);
}

.quiz-answer button {
  border: none;
  padding: 18px;
}

.quiz-answer button:hover {
  border-radius: 6px;
}

.progress {
  margin: 10px;
}

.start-btn {
  background: blueviolet;
  color: white;
}

.start-btn:hover {
  background: white;
  border: 1px solid blueviolet;
  color: blueviolet;
}

.time-out {
  background-color: red;
}

.quiz-body-js {
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 60px;
}

.restart-btn {
  border: 1px solid #ac12cf;
  border-radius: 10px;
  background: #ac12cf;
  color: white;
  font-size: 23px;
  font-weight: bold;
  width: 200px;
  margin: 0 auto;
  transition: all 200ms ease-in-out;
}
.restart-btn:hover {
  border: 1px solid #ac12cf;
  background: white;
  color: #ac12cf;
  font-size: 25px;
}

@media (max-width: 800px) {
  .quiz-body {
    width: 80% !important;
  }

  .restart-btn {
    margin: 0 auto;
  }

  .quiz-body-js {
    font-size: 20px;
  }
}
